[Desktop Entry]
Version=1.0
Type=Application
Name=DarkFox
Comment=CTI / OSINT Dark Web research tool
Exec=bash -c 'cd /opt/darkfox && sudo /opt/darkfox/darkfox.sh; echo; echo "Press Enter or close this window to exit..."; exec bash'
Icon=wafw00f
Terminal=true
StartupNotify=true
Path=/opt/darkfox
Categories=Network;Security;
StartupWMClass=DarkFox
